<section class="card tasklist w-75 d-flex flex-column justify-content-center" data-tasklist-id="{{id}}">
    <div class="card-head tasklist d-flex flex-row justify-content-between">
        <a href="/api/tasklists/{{id}}">
            <header>{{name}}</header>
        </a>
        <button class="tasklist-edit p-2" data-tasklist-id="{{id}}">
            <i class="fa-solid fa-pen-to-square"></i>
        </button>
        <button class="tasklist-delete  p-2" data-tasklist-id="{{id}}">
            <i class="fa-solid fa-trash"></i>
        </button>
    </div>
    <div class="card-body">
        {{#each tasks as |task|}}
        {{> task-details}}
        {{/each}}
        <div class="card task">
            <header>Create a New Task</header>
            <button class="task-add">
                <i class="fa-solid fa-square-plus"></i>
                CREATE
            </button>
        </div>
    </div>

</section>